* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;

  background-image: linear-gradient(45deg, slategray, steelblue);
  mix-blend-mode: multiply;
}

#calculator {
  display: flex;
  flex-direction: column;
  width: 25vw;
  gap: 2%
}

#display {
  text-align: right;
  font-size: 3vh;
  padding: 1vh;
  background-color: lightgray;
  color: white;
  height: 4vh;
}

#functions {
  display: flex;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 2%;
}

#numpad {
  display: flex;
  gap: 2%;
}

#operators {
  width: 25%;
  display: flex;
  flex-direction: column;
  flex: auto;
}

#numbers {
  display: flex;
  flex-wrap: wrap;
  flex: auto;
}

.key {
  flex: 1 1 30%;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: darkgray;
  padding: 1vw;
  border: none;
}

button:hover {
  background-color: white;
}

.pressed, 
button:active {
  background-color: lightgray;
  color: white;
}